@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');

/*Tela*/

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
}


/*Fim Tela*/

a:hover {
    color: black;
}


/*Perfil Mobile*/

@media (max-width: 600px) {
    .perfil {
        font-family: 'Montserrat', sans-serif;
        margin: 0;
        padding: 0 20px 20px;
        display: flex;
        flex-direction: column;
        background-color: #fff;
        box-shadow: 0px 3px 20px rgba(0, 0, 0, .3);
    }
    #avatar_img {
        width: 40%;
        border-radius: 100%;
        margin: 50px auto 20px;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, .1);
    }
    .texto_perfil {
        display: flex;
        flex-direction: column;
    }
    .texto_perfil a {
        font-size: 22px;
        font-weight: 600;
        text-align: center;
        color: black;
        text-decoration: none;
        margin: 5px 0;
    }
    .bio {
        font-size: 14px;
        text-align: center;
        color: black;
        margin: 0 0 30px;
    }
    .linha-1,
    .linha-2 {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    .linha-1>div,
    .linha-2>div {
        margin: 5px 0;
        display: flex;
        justify-content: initial;
        flex-direction: row;
        font-size: 13px;
    }
    .infos span {
        width: 150px;
    }
    i.fas,
    i.fab {
        width: 20px;
        font-size: 15px;
        color: black;
        text-align: center;
    }
    div.infos {
        padding-bottom: 10px;
        border-bottom: 1px solid rgb(204, 204, 204);
    }
    #btn-perfil {
        background: linear-gradient( -45deg, rgba(88, 195, 255, .8) 0, rgba(0, 77, 230, .8) 40%, rgba(0, 59, 177, .8) 100%);
        border-radius: 20px;
        font-family: 'Montserrat', sans-serif;
        font-size: 13px;
        font-weight: 500;
        letter-spacing: 0.6px;
        color: #FFF;
        border: none;
        padding: 10px 20px;
        margin: 30px auto 0;
        width: 100%;
    }
}


/*Fim Perfil Mobile*/


/*Perfil Tablet*/

@media (min-width: 601px) and (max-width: 1099px) {
    #perfil {
        font-family: 'Montserrat', sans-serif;
        margin: 50px auto;
        padding: 0px;
        width: 80%;
        display: flex;
    }
    div.infosPerfil {
        margin-left: 30px;
    }
    #avatar_img {
        border-radius: 100%;
        width: 25%;
        height: 100%;
    }
    .perfil .texto_perfil a {
        font-size: 40px;
        font-weight: 600;
        margin-top: 0px;
        margin-bottom: 5px;
        color: black;
        text-decoration: none;
    }
    .texto_perfil {
        margin-bottom: 50px;
    }
    .linha-1,
    .linha-2 {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    .linha-1>div,
    .linha-2>div {
        margin: 5px 0;
        display: flex;
        justify-content: initial;
        flex-direction: row;
    }
    .infos span {
        width: 130px;
    }
    i.fas,
    i.fab {
        width: 20px;
        font-size: 15px;
        color: black;
        text-align: center;
    }
    div.infos {
        padding-bottom: 10px;
        border-bottom: 1px solid rgb(218, 218, 218);
    }
    #btn-perfil {
        background: linear-gradient( -45deg, rgba(88, 195, 255, .8) 0, rgba(0, 77, 230, .8) 40%, rgba(0, 59, 177, .8) 100%);
        border-radius: 20px;
        font-size: 13px;
        font-weight: 500;
        letter-spacing: 0.6px;
        color: #FFF;
        border: none;
        padding: 10px 20px;
        margin: 30px auto 0;
    }
}


/*Fim Perfil Tablet*/


/*Perfil Desktop*/

@media (min-width: 1100px) {
    #perfil {
        font-family: 'Montserrat', sans-serif;
        margin: 30px auto 0;
        padding: 0px;
        width: 70%;
        display: flex;
        justify-content: center;
    }
    div.infosPerfil {
        margin-left: 30px;
        width: 100%;
    }
    #avatar_img {
        border-radius: 100%;
        width: 25%;
        height: 100%;
    }
    .perfil .texto_perfil a {
        font-size: 40px;
        font-weight: 600;
        margin-top: 0px;
        margin-bottom: 5px;
        color: black;
        text-decoration: none;
    }
    .texto_perfil {
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        margin-bottom: 50px;
    }
    div.infos {
        padding-bottom: 20px;
        border-bottom: 1px solid rgb(218, 218, 218);
    }
    .linha-1,
    .linha-2 {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }
    .linha-1>div,
    .linha-2>div {
        display: flex;
        justify-content: initial;
        flex-direction: row;
        font-size: 15px;
        width: 325px;
    }
    .infos span {
        width: 150px;
    }
    i.fas,
    i.fab {
        width: 20px;
        font-size: 15px;
        color: black;
        text-align: center;
    }
    #btn-perfil {
        background: linear-gradient( -45deg, rgba(88, 195, 255, .8) 0, rgba(0, 77, 230, .8) 40%, rgba(0, 59, 177, .8) 100%);
        border-radius: 20px;
        font-family: 'Montserrat', sans-serif;
        font-size: 13px;
        font-weight: 500;
        letter-spacing: 0.6px;
        text-transform: capitalize;
        color: #FFF;
        border: none;
        padding: 10px 20px;
        margin: 30px 0 0;
        transition: all 0.3s ease-in-out 0s;
    }
    #btn-perfil:hover {
        background: #FFF;
        color: rgba(0, 77, 230, .8);
        box-shadow: 1px 1px 10px rgba(0, 0, 0, .1);
    }
}


/*Fim Perfil Desktop*/


/*------------------------------------------------------------------*/


/*Repositórios GitHub*/

.content_tittleRepos {
    margin: 0 0 70px;
    text-align: center;
}

#reposSubtittle {
    background-color: #1461ff;
    color: #FFF;
    padding: 5px 15px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 10px;
    border-radius: 5px;
}

.tituloRepos {
    margin: 5px 0 10px;
    padding: 0;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.textTittle {
    margin: 0 auto;
    max-width: 700px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #777;
}

.lineRepos {
    display: block;
    height: 2px;
    width: 70px;
    background-color: #1461ff;
    margin: 20px auto 15px;
}


/*Repositórios Desktop*/

.repositorio {
    margin: 100px 0 50px;
    padding: 0;
    background-color: #fafafa;
}

.conteudo_repositorio {
    width: 70%;
    padding: 50px 0 70px;
}

div.reposTitle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.tituloRepos {
    font-size: 35px;
    text-decoration: none;
    color: black;
    margin: 25px 0 15px !important;
}

.info_repositorio {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.reposContent {
    max-width: 360px;
    text-align: center;
    padding: 40px 30px;
    margin: 0 auto;
    background: #FFF;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .1);
    text-decoration: none;
    transition: all 0.4s ease;
    border-radius: 15px;
    border-bottom: 3px solid transparent;
}

.info_repositorio h3 {
    text-decoration: none;
    color: #222;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin: 0;
}

div.text_repositorio {
    color: #777;
    margin: 5px 0 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}

.reposDates {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.reposDates span {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    width: 100px;
}

.reposDates span:last-child {
    width: auto;
    color: #F00;
}

.reposDates span .fas {
    width: 20px;
    font-size: 15px;
    text-align: center;
    transition: all 0.2s ease;
    color: rgb(82, 82, 82);
}

@media (min-width: 1100px) {
    .reposContent:hover {
        background: #fff;
        border-bottom: 3px solid #1461ff;
        transform: translateY(-7px);
    }
    .reposContent:hover h3 {
        color: #1461ff;
    }
    .reposContent:hover .fas.fa-star {
        color: rgb(255, 196, 0);
    }
    .reposContent:hover .fas.fa-cloud-upload-alt {
        color: rgb(0, 89, 255);
    }
}


/*Fim Repositório Desktop*/


/*Repositório Tablet*/

@media (min-width: 601px) and (max-width: 1099px) {
    .info_repositorio a {
        margin-bottom: 20px;
    }
    .info_repositorio a:last-child {
        margin-bottom: 0;
    }
    .reposContent {
        border-bottom: 3px solid #1461ff;
    }
    .info_repositorio h3 {
        color: #1461ff;
    }
    .reposContent .fas.fa-star {
        color: rgb(255, 196, 0);
    }
    .reposContent .fas.fa-cloud-upload-alt {
        color: rgb(0, 89, 255);
    }
}


/*Fim Repositório Tablet*/


/*Repositório Mobile*/

@media (max-width: 600px) {
    .info_repositorio a {
        margin-bottom: 20px;
    }
    .info_repositorio a:last-child {
        margin-bottom: 0;
    }
    .conteudo_repositorio {
        width: 90% !important;
    }
    .reposContent {
        border-bottom: 3px solid #1461ff;
    }
    .info_repositorio h3 {
        color: #1461ff;
    }
    .reposContent .fas.fa-star {
        color: rgb(255, 196, 0);
    }
    .reposContent .fas.fa-cloud-upload-alt {
        color: rgb(0, 89, 255);
    }
    div.reposDates {
        flex-direction: column;
        align-items: flex-start;
    }
    div.reposDates span {
        margin: 3px 0;
    }
}


/*Fim Repositório Mobile*/


/*------------------------------------------------------------------*/


/* Pesquisar Repositórios */


/*Inicio Pesquisar Repositórios Desktop*/

.pesquisaRepositorio form {
    border: none;
    border-radius: 20px;
    max-width: 500px;
    background: #fafafa;
    box-shadow: 0px 3px 20px rgba(0, 0, 0, .3);
    display: flex;
    justify-content: initial;
    align-items: center;
    padding: 5px 20px;
    margin: 0 auto 50px;
}

#inputPesquisa {
    font-family: 'Montserrat', sans-serif;
    background: none;
    border: none;
    width: calc(100% - 30px);
    padding: 0;
}

#inputPesquisa:focus {
    border-color: #cccccc;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    /* Novo ícone */
    width: 12px;
    height: 12px;
    /* Url da imagem 'x' em base64 */
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAn0lEQVR42u3UMQrDMBBEUZ9WfQqDmm22EaTyjRMHAlM5K+Y7lb0wnUZPIKHlnutOa+25Z4D++MRBX98MD1V/trSppLKHqj9TTBWKcoUqffbUcbBBEhTjBOV4ja4l4OIAZThEOV6jHO8ARXD+gPPvKMABinGOrnu6gTNUawrcQKNCAQ7QeTxORzle3+sDfjJpPCqhJh7GixZq4rHcc9l5A9qZ+WeBhgEuAAAAAElFTkSuQmCC);
    background-repeat: no-repeat;
    background-size: 12px;
    background-position: top left;
}

.fas.fa-search {
    color: #777;
    width: 30px;
    text-align: left;
}


/*Fim Pesquisar Repositórios Desktop*/


/*Inicio Pesquisar Repositórios Mobile*/

@media (max-width: 600px) {
    .pesquisaRepositorio form {
        max-width: 300px;
    }
}


/*Fim Pesquisar Repositórios Mobile*/


/*------------------------------------------------------------------*/


/* Resultados Pesquisa */

.resultPerfil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto 40px;
}

.resultPerfil img {
    max-width: 15%;
    border-radius: 100%;
    margin-bottom: 10px;
}

.resultPerfil a {
    text-decoration: none;
    color: #222;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 600;
}

.resultPerfil a:hover {
    color: #222;
}

#reposList {
    max-width: 60%;
    margin: 0 auto;
    padding: 0;
    list-style: none;
}

.itemList {
    background: #fafafa;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .2);
    padding: 20px 25px;
    margin-top: 25px;
    transition: all 0.3s ease;
    border-radius: 15px;
    border-bottom: 3px solid transparent;
}

.itemLink {
    text-decoration: none;
}

div.reposHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 7px;
}

div.reposHeader h3 {
    text-decoration: none;
    color: #222;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 600;
    margin: 0;
}

.statusVisibility {
    padding: 0 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 10px;
    border-radius: 5px;
    margin-left: 15px;
}

.statusVisibility.public {
    border: 1.5px solid #a371f7;
    color: #a371f7;
}

.statusVisibility.private {
    border: 1.5px solid #ffc400;
    color: #ffc400;
}

.reposInfos {
    display: flex;
    justify-content: initial;
    align-items: center;
    margin-top: 3px;
}

.reposInfos span {
    margin-right: 20px;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: initial;
    align-items: center;
    color: rgb(95, 95, 95);
}

.reposInfos span:last-child {
    color: #F00;
}

.reposInfos span i.fas {
    margin-right: 5px;
    text-align: center;
    color: rgb(95, 95, 95);
}

.itemList p {
    margin: 10px 0 0;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    color: #777;
}

.itemList p::first-letter {
    text-transform: uppercase;
}

.itemList:hover {
    border-bottom: 3px solid #1461ff;
    transform: translateY(-7px);
    cursor: pointer;
}

.itemList:hover h3 {
    color: #1461ff;
}

.itemList:hover .fas.fa-star {
    color: rgb(255, 196, 0);
}

.itemList:hover .fas.fa-cloud-upload-alt {
    color: rgb(0, 89, 255);
}

.itemList:hover p {
    color: rgb(78, 78, 78);
}

@media (min-width: 601px) and (max-width: 1100px) {
    #reposList {
        max-width: 70%;
    }
    .itemList .fas.fa-star {
        color: rgb(255, 196, 0);
    }
    .itemList .fas.fa-cloud-upload-alt {
        color: rgb(0, 89, 255);
    }
}

@media (min-width: 300px) and (max-width: 600px) {
    #reposList {
        max-width: 90%;
    }
    .reposInfos {
        justify-content: space-between !important;
    }
    .reposInfos span {
        margin-right: 0 !important;
    }
    .itemList .fas.fa-star {
        color: rgb(255, 196, 0);
    }
    .itemList .fas.fa-cloud-upload-alt {
        color: rgb(0, 89, 255);
    }
}

@media (max-width: 299px) {
    #perfil {
        padding: 10px;
    }
    .infos span {
        width: 110px;
    }
    .conteudo_repositorio {
        width: 95% !important;
        padding: 0 !important;
        margin: 0 auto !important;
    }
    #reposList {
        max-width: 90%;
    }
    .resultPerfil {
        flex-direction: column;
    }
    .resultPerfil a {
        margin: 0;
        font-size: 20px;
    }
    div.reposHeader {
        flex-wrap: wrap;
    }
    div.reposHeader h3 {
        margin-right: 10px;
    }
    div.reposTitle {
        justify-content: space-between;
    }
    a.reposContent {
        padding: 20px 15px;
    }
    div.reposDates {
        flex-direction: column;
        align-items: flex-start;
    }
    div.reposDates span {
        margin: 3px 0;
    }
    .statusVisibility {
        margin: 5px 0;
    }
    .reposInfos {
        flex-direction: column;
        align-items: flex-start;
    }
    .reposInfos span {
        margin: 2px 0;
    }
    .itemList .fas.fa-star {
        color: rgb(255, 196, 0);
    }
    .itemList .fas.fa-cloud-upload-alt {
        color: rgb(0, 89, 255);
    }
}


/*Footer*/


/*Footer Desktop*/

@media (min-width: 700px) {
    .footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 100px;
        padding: 40px 20px;
        background: linear-gradient( -45deg, rgba(88, 195, 255, .8) 0, rgba(0, 77, 230, .8) 40%, rgba(0, 59, 177, .8) 100%);
        width: 100%;
    }
    .footer p {
        text-align: center;
        letter-spacing: .6px;
        margin: 0;
        color: #FFF;
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
    }
    .redes {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 40%;
    }
    .footer i.fab {
        width: 30px;
        font-size: 30px;
        color: #FFF;
        margin: 0 20px;
    }
}


/*Fim Footer Desktop*/


/*Footer Mobile*/

@media (max-width: 699px) {
    .footer {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        margin-top: 100px;
        padding: 15px 10px;
        background: linear-gradient( -45deg, rgba(88, 195, 255, .8) 0, rgba(0, 77, 230, .8) 40%, rgba(0, 59, 177, .8) 100%);
        color: #FFF;
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
    }
    .footer p {
        text-align: center;
        letter-spacing: .6px;
    }
    .redes {
        display: flex;
        justify-content: space-around;
        width: 60%;
        margin: 0 auto;
    }
    .footer i.fab {
        width: 30px;
        font-size: 20px;
        color: #FFF;
    }
}


/*Fim Footer Mobile*/